.app {
    min-width: 550px;
    max-width: 80%;
    height:auto;
    margin:auto;
    margin-top: 0px;
    background-color: rgb(27,27,27);
    background-color: rgb(26, 32, 44);
    color:white;
    padding:30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow-x: scroll;
}
.app-title h1 {
    color:orange;
    font-size: 2.8rem;
}

.moonicon {
    position: absolute;
    width:40px;
    height:40px;
    top:20px;
    right:20px;
    color:white;
    font-size: 30px;
   
}